{% extends "base.html" %}
{% load static %}

{% block title %}Islington Ecommerce - Login{% endblock %}

{% block content %}
    <section class="section-login" style="max-width: unset;">
        <div class="bg-[var(--clr-gray-50)]">
            <div class="container mx-auto">
                <div class="flex items-center gap-2 py-6.5 text-[var(--clr-gray-600)] text-sm">
                    <span class="flex items-center gap-2">
                        <img src="{% static 'images/icons/House.svg' %}" alt=""/>
                        Home
                    </span>

                    <span class="flex items-center gap-2">
                        <img src="{% static 'images/icons/CaretRight.svg' %}" alt=""/>
                        User Account
                    </span>

                    <span class="flex items-center gap-2 text-[var(--clr-secondary-500)]">
                        <img src="{% static 'images/icons/CaretRight.svg' %}" alt=""/>
                        Sign In
                    </span>
                </div>
            </div>
        </div>

        <div class="container mx-auto py-25">
            {% if form.non_field_errors %}
                <div class="error">
                    {% for error in form.non_field_errors %}
                        <p style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form class="w-[424px] mx-auto bg-[var(--clr-gray-00)] shadow-[0px_8px_40px_rgba(0_0_0_0.12)] border border-[var(--clr-gray-100)] rounded-sm"
                  method="post">
                <div role="tablist" class="tabs tabs-border text-[var(--clr-gray-500)] font-semibold border-b-1 mb-6">
                    <a href="{% url 'account_login' %}" role="tab" class="tab tab-active flex-1">Sign In</a>
                    <a href="{% url 'account_signup' %}" role="tab" class="tab flex-1">Sign Up</a>
                </div>

                {% csrf_token %}

                <div class="p-6.5">
                    <div class="mb-4">
                        <label for="{{ form.login.id_for_label }}"
                               class="block validator">
                            <span class="block text-sm text-[var(--clr-gray-900)] mb-2 font-normal">{{ form.login.label }}</span>

                            {{ form.login }}
                        </label>

                        <p class="validator-hint hidden">
                            Enter valid email address
                        </p>

                        {% if form.login.errors %}
                            {% for error in form.login.errors %}
                                <p class="validator-hint">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-5">
                        <label for="{{ form.password.id_for_label }}"
                               class="block validator mb-2">
                                <span class="flex justify-between block text-sm text-[var(--clr-gray-900)] mb-2">
                                    {{ form.password.label }}
                                    <a href="" class="text-[var(--clr-secondary-500)]">Forget Password</a>
                                </span>

                            {{ form.password }}
                        </label>

                        <p class="validator-hint hidden">
                            Must be more than 8 characters, including
                            <br/>At least one number <br/>At least one lowercase letter <br/>At least one uppercase
                            letter
                        </p>

                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <p class="validator-hint">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <button class="btn btn-shop-now">LOGIN</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}