{% extends "base.html" %}

{% block title %}Islington Marketplace - Password Reset{% endblock %}

{% block content %}
    <section class="section-with-breadcrumb">
        {% include "partials/breadcrumb.html" %}

        <div class="container mx-auto my-25">
            <div class="p-8 bg-[var(--clr-gray-00)] shadow-[0px_8px_40px_rgba(0_0_0_0.12)] border border-[var(--clr-gray-100)] rounded-sm backdrop-blur-md text-center w-[424px] mx-auto">
                <h2 class="text-[var(--clr-gray-900)] font-semibold text-xl mb-3">Password Reset Successful</h2>
                <p class="text-[var(--clr-gray-600)] mb-6">
                    Your password has been successfully updated. You can now log in with your new password.
                </p>
                <a href="{% url 'account_login' %}" class="btn btn-primary w-full">Login</a>
            </div>
        </div>
    </section>
{% endblock %}