{% extends "base.html" %}

{% block title %}Islington Marketplace - Password Reset{% endblock %}

{% block content %}
    <section class="section-with-breadcrumb">
        {% include "partials/breadcrumb.html" %}

        <div class="container mx-auto my-25">
            <div class="p-8 bg-[var(--clr-gray-00)] shadow-[0px_8px_40px_rgba(0_0_0_0.12)] border border-[var(--clr-gray-100)] rounded-sm backdrop-blur-md text-center w-[424px] mx-auto">
                <div class="mb-6">
                    <h2 class="text-[var(--clr-gray-900)] font-semibold text-xl mb-3">Update Password</h2>
                    <p class="text-[var(--clr-gray-600)]">
                        Enter the new password you want to update to
                    </p>
                </div>

                <form method="POST" class="mb-6">
                    {% csrf_token %}

                    <div class="flex-1 mb-4">
                        <label for="{{ form.password1.id_for_label }}"
                               class="block validator">
                            <span class="block text-sm text-[var(--clr-gray-900)] mb-2 font-normal text-left">{{ form.password1.label }}</span>

                            {{ form.password1 }}
                        </label>

                        <p class="validator-hint hidden">
                            Cannot be Empty
                        </p>

                        <ul class="list text-[var(--clr-gray-600)] text-left list-disc pl-3 my-2">
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div>

                    <div class="flex-1 mb-4">
                        <label for="{{ form.password2.id_for_label }}"
                               class="block validator">
                            <span class="block text-sm text-[var(--clr-gray-900)] mb-2 font-normal text-left">{{ form.password2.label }}</span>

                            {{ form.password2 }}
                        </label>

                        <p class="validator-hint hidden">
                            Cannot be Empty
                        </p>
                    </div>

                    <button class="btn btn-primary uppercase w-full">Reset Password</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}