{% extends "base.html" %}

{% block title %}Islington Marketplace - Password Reset{% endblock %}

{% block content %}
    <section class="section-with-breadcrumb">
        {% include "partials/breadcrumb.html" %}

        <div class="container mx-auto my-25">
            <div class="p-8 bg-[var(--clr-gray-00)] shadow-[0px_8px_40px_rgba(0_0_0_0.12)] border border-[var(--clr-gray-100)] rounded-sm backdrop-blur-md text-center w-[424px] mx-auto">
                <div class="mb-6">
                    <h2 class="text-[var(--clr-gray-900)] font-semibold text-xl mb-3">Forgot Password</h2>
                    <p class="text-[var(--clr-gray-600)]">
                        Enter the email address associated with your account
                    </p>
                </div>

                <form method="POST" class="mb-6">

                    {% csrf_token %}

                    <div class="flex-1 mb-4">
                        <label for="{{ form.email.id_for_label }}"
                               class="block validator">
                            <span class="block text-sm text-[var(--clr-gray-900)] mb-2 font-normal text-left">{{ form.email.label }}</span>

                            {{ form.email }}
                        </label>

                        <p class="validator-hint hidden">
                            Cannot be Empty
                        </p>
                    </div>

                    <button class="btn btn-primary uppercase w-full">Get Code</button>
                </form>

                <div class="mb-6">
                    <p class="text-[var(--clr-gray-600)] text-sm text-left">Already Have Account? <a class="text-[var(--clr-secondary-500)] underline" href="{% url 'account_login' %}">Sign In</a></p>
                    <p class="text-[var(--clr-gray-600)] text-sm text-left">Don't Have Account? <a class="text-[var(--clr-secondary-500)] underline" href="{% url 'account_signup' %}">Sign Up</a></p>
                </div>

                <div class="divider" style="--divider-color: var(--clr-gray-100);"></div>

                <p class="text-sm text-[var(--clr-gray-700)]">
                    You may contact <span class="text-[var(--clr-primary-500)]">Customer Service</span> for help restoring access to your account.
                </p>
            </div>
        </div>
    </section>
{% endblock %}