{% extends "base.html" %}

{% block title %}Islington Marketplace - Password Reset{% endblock %}

{% block content %}
    <section class="section-with-breadcrumb">
        {% include "partials/breadcrumb.html" %}

        <div class="container mx-auto my-25">
            <div class="p-8 bg-[var(--clr-gray-00)] shadow-[0px_8px_40px_rgba(0_0_0_0.12)] border border-[var(--clr-gray-100)] rounded-sm backdrop-blur-md text-center w-[424px] mx-auto">
                <h2 class="text-[var(--clr-gray-900)] font-semibold text-xl mb-3">Password Reset Email Sent</h2>
                <p class="text-[var(--clr-gray-600)] mb-6 text-justify">
                    We’ve sent a password reset link to the email address you provided.
                    Please check your inbox and follow the instructions to reset your password.
                </p>

                <p class="text-[var(--clr-gray-600)] mb-6 text-justify">
                    If you don’t see the email within a few minutes, check your spam folder or try again.
                </p>
                <a href="{% url 'account_login' %}" class="btn btn-primary">Back to Login</a>
            </div>
        </div>
    </section>
{% endblock %}