{% load static %}

<footer class="bg-[var(--clr-secondary-650)] pt-18">
    <div class="container mx-auto">
        <div class="grid grid-cols-3 gap-6">
            <div>
                <img src="{% static 'images/logo.PNG' %}" alt=""/>

                <p class="mb-3">
                    <span class="text-[var(--clr-gray-500)] text-sm">Customer Support</span>

                    <br/>

                    <span class="font-medium">(+977) {{ setting.phone }}</span>
                </p>

                <p class="text-[var(--clr-gray-500)] text-sm mb-3">
                    {{ setting.location }}
                </p>

                <p class="text-base font-medium">{{ setting.email }}</p>
            </div>

            <div class="flex gap-6">
                <div>
                    <h3 class="text-base font-medium]">TOP CATEGORY</h3>

                    <ul role="list" class="text-[var(--clr-gray-400)] text-sm font-medium">
                        {% for category in categories %}
                            {% if forloop.counter < 4 %}
                                <li>
                                    <a href="{% url 'pages:shop' %}?category={{ category.slug }}" class="py-2">{{ category }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <span class="flex items-center gap-2 font-medium text-sm">
                        <span class="divider bg-[var(--clr-warning-500)] w-[10%]" style="height: 2px;"></span>
                        Accessories
                    </span>

                    <ul role="list" class="text-[var(--clr-gray-400)] text-sm font-medium">
                        <li class="py-2">Camera & Photo</li>
                        <li class="py-2">TV & Homes</li>
                    </ul>

                    <a class="btn btn-no-bg text-[var(--clr-warning-500)] p-0">Browse All Product</a>
                </div>

                <div>
                    <h3 class="text-base font-medium]">QUICK LINKS</h3>

                    <ul role="list" class="text-[var(--clr-gray-400)] text-sm font-medium">
                        <li class="py-2">
                            <a href="{% url 'pages:shop' %}">
                                Shop Product
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="{% url 'pages:cart' %}">
                                Shoping Cart
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="{% url 'products:compare_products' %}">
                                Compare
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="{% url 'users:order-track' %}">
                                Track Order
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="{% url 'blogs:blogs' %}">
                                Blogs
                            </a>
                        </li>
                        <li class="py-2">Customer Help</li>
                        <li class="py-2">About Us</li>
                    </ul>
                </div>
            </div>

            <div>
                <h3 class="text-base font-medium] mb-4.5">POPULAR TAG</h3>

                <div class="flex flex-wrap gap-2">
                    {% for category in categories %}
                        <a href="{% url 'pages:shop' %}?category={{ category.slug }}" class="btn no-icon text-sm bg-transparent px-3 py-1.5 shadow-none hover:border-[var(--clr-gray-00)] hover:bg-[var(--clr-gray-800)]">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="text-center text-[var(--clr-gray-300)] py-6">
        <p>Islington Ecommerce © <span class="copyright-date"></span></p>
    </div>

</footer>