{% extends "base.html" %}
{% load static %}

{% block title %}Islington Ecommerce - Home{% endblock %}

{% block content %}
    <section class="mx-auto py-6">
        <div class="grid grid-cols-3 gap-6">
            <div class="col-span-2 rounded-md bg-[var(--clr-gray-50)]">
                <div class="swiper-banner overflow-hidden relative">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for banner in banners %}
                            <div class="swiper-slide">
                                <div id="main-banner-{{ banner.pk }}" class="carousel-item p-13 items-center gap-9">
                                    <div class="w-[356px]">
                                        <span class="flex items-center text-[var(--clr-secondary-600)] gap-2 font-semibold text-sm">
                                            <div class="divider bg-[var(--clr-secondary-600)] w-[10%]"
                                                 style="height: 2px;"></div>
                                            {{ banner.short_title }}
                                        </span>

                                        <h1 class="font-semibold text-5xl text-[var(--clr-gray-900)] mb-4">{{ banner.title }}</h1>

                                        <p class="text-[var(--clr-gray-700)] mb-6">
                                            {{ banner.headline }}
                                        </p>

                                        <a href="{% url 'pages:shop' %}?category={{ banner.product.category.slug }}"
                                           class="btn btn-primary">SHOP NOW</a>
                                    </div>

                                    <img
                                            {% if not banner.product.thumbnail %}
                                                src="{% static 'images/banner/banner_image_3.png' %}"
                                            {% else %}
                                                src="{{ banner.product.thumbnail.url }}"
                                            {% endif %}
                                                alt="{{ banner.product }}"
                                                class="w-[368px] h-[408px] object-center object-cover"/>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination left-0 w-fit"></div>
                </div>
            </div>

            <div class="flex flex-col gap-4 items-center justify-between">
                {% include 'partials/banner/banner_small_1.html' with product=best_deals.products.all.0 %}

                {% include 'partials/banner/banner_small_2.html' with product=best_deals.products.all.1 %}
            </div>
        </div>

        <div class="p-4 rounded-md border border-[var(--clr-gray-00)] mt-6 flex justify-between">
            <div class="feature-card">
                <img src="{% static 'images/icons/Package.svg' %}" alt=""/>

                <div>
                    <p>FASTEST DELIVERY</p>
                    <span>Delivery in 24/H</span>
                </div>
            </div>

            <div class="feature-divider"></div>

            <div class="feature-card">
                <img src="{% static 'images/icons/Package.svg' %}" alt=""/>

                <div>
                    <p>24 Hours Return</p>
                    <span>100% money-back guarantee</span>
                </div>
            </div>

            <div class="feature-divider"></div>

            <div class="feature-card">
                <img src="{% static 'images/icons/Package.svg' %}" alt=""/>

                <div>
                    <p>Secure Payment</p>
                    <span>Your money is safe</span>
                </div>
            </div>

            <div class="feature-divider"></div>

            <div class="feature-card">
                <img src="{% static 'images/icons/Package.svg' %}" alt=""/>

                <div>
                    <p>Support 24/7</p>
                    <span>Live contact/message</span>
                </div>
            </div>
        </div>
    </section>

    {% if best_deals %}
        <section class="mx-auto py-18">
            <div class="flex justify-between items-center mb-6">
                <h2 class="flex items-center gap-2 text-[var(--clr-gray-900)] font-semibold text-2xl">
                    Best Deals
                    <span class="text-sm">
                                Deal ends in
                                <span id="best-deal-remaining-time"
                                      class="text-base px-3 py-2 bg-[var(--clr-warning-300)]"
                                      data-end-date="{{ best_deals.iso_end_date }}"></span>
                            </span>
                </h2>

                <a href="{% url 'pages:shop' %}" class="btn btn-no-bg text-[var(--clr-secondary-500)]">Browse All
                    Product</a>
            </div>

            {% with first_prod=best_deals.products.all.0 %}
                <div class="grid grid-cols-12">
                <div class="lg:col-span-3 md:col-span-5 border border-[var(--clr-gray-100)] bg-[var(--clr-gray-00)] p-6 h-fit pt-0">
                    <figure class="mb-6">
                        {% if first_prod.thumbnail %}
                            <img src="{{ first_prod.thumbnail.url }}" alt="{{ first_prod }}"
                                 class="h-full w-[280px] object-cover object-center"/>
                        {% else %}
                            <img src="{% static 'images/products/product_2.png' %}" alt=""/>
                        {% endif %}
                    </figure>

                    {% include "partials/products/ratings.html" with rating=products.average_ratings %}

                    <div class="mb-6">
                        <h3 class="text-[var(--clr-gray-900)]">{{ first_prod.name }}</h3>

                        <p class="my-3">
                            <span class="line-through text-[var(--clr-gray-300)]">Rs. {{ first_prod.price }}</span>
                            <span class="text-[var(--clr-secondary-500)]">Rs. {{ first_prod.discounted_price }}</span>
                        </p>

                        <p class="text-[var(--clr-gray-600)]">
                            {{ first_prod.description }}
                        </p>
                    </div>

                    <div class="flex gap-2 items-center">
                        <a href="{% url 'pages:wishlist' %}?action=add&product_slug={{ first_prod.slug }}" class="flex items-center justify-center bg-[var(--clr-primary-100)] w-12 aspect-square">
                            <img src="{% static 'images/icons/Heart_Dark.svg' %}" alt=""/>
                        </a>

                        <a
                                hx-get="{% url 'products:cart' first_prod.pk %}?action=add"
                                hx-target="#cart-list"
                                hx-swap="innerHTML"
                                class="btn btn-primary no-icon rounded-[2px] h-12"
                        >
                            <img src="{% static 'images/icons/Cart.svg' %}" alt=""/>
                            ADD TO CART
                        </a>

                        <a href="{% url 'products:detail' first_prod.slug %}"
                           class="flex items-center justify-center bg-[var(--clr-primary-100)] w-12 aspect-square">
                            <img src="{% static 'images/icons/Eye.svg' %}" alt=""/>
                        </a>
                    </div>
                </div>
            {% endwith %}

            <div class="lg:col-span-9 md:col-span-7">
                <div class="grid lg:grid-cols-4 md:grid-cols-2">
                    {% for product in best_deals.products.all|slice:"1:" %}
                        {% include "partials/products/card_regular.html" with product=product %}
                    {% endfor %}
                </div>
            </div>
            </div>
        </section>
    {% endif %}

    <section class="mx-auto">
        <h2 class="text-[var(--clr-gray-900)] text-center text-[2rem] font-semibold mb-10">Shop With Categorys</h2>

        <div class="main-category-swiper-wrapper relative w-full">
            <div class="main-category-swiper overflow-hidden">
                <div class="swiper-wrapper">
                    {% for category in categories %}
                        <div class="swiper-slide">
                            {% include 'partials/products/card_slider.html' with category=category %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>

    <section class="section-featured mx-auto py-18">
        <div class="grid grid-cols-12">
            <div class="lg:col-span-3 md:col-span-5">
                {% include 'partials/banner/banner_large_1.html' %}
            </div>

            <div class="lg:col-span-9 md:col-span-7">
                <div class="flex justify-between items-center mb-6.5">
                    <h2 class="text-[var(--clr-gray-900)] font-semibold text-2xl inline">
                        New Arrivals
                    </h2>

                    <div class="flex justify-between items-center">
                        <div role="tablist" class="tabs tabs-border text-[var(--clr-gray-600)] text-sm mr-2">
                            <a role="tab" class="tab tab-active">All Product</a>
                            {#                            <a role="tab" class="tab">Smart Phone</a>#}
                            {#                            <a role="tab" class="tab">Laptop</a>#}
                            {#                            <a role="tab" class="tab">Headphone</a>#}
                            {#                            <a role="tab" class="tab">TV</a>#}
                        </div>

                        <a href="{% url 'pages:shop' %}"
                           class="text-[var(--clr-primary-500)] text-sm flex items-center gap-2">
                            Browse All Product

                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                 class="fill-[var(--clr-primary-500)]"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.125 10H16.875" stroke="currentColor" stroke-width="1.8"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="white" stroke-width="1.8"
                                      stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-4">
                    {% for product in new_arrivals.all %}
                        <div class="h-full flex">
                            {% include 'partials/products/card_regular_rating.html' with product=product %}

                            <dialog id="product-{{ product.slug }}" class="modal product-detail-modal">
                            </dialog>
                        </div>
                    {% endfor %}

                    <div class="col-span-2">
                        <div class="swiper featured-swiper border rounded-xs border-[var(--clr-gray-100)] w-full text-base p-2 text-[var(--clr-gray-900)]">
                            <div class="swiper-wrapper">
                                {% for banner in banners %}
                                    <div class="swiper-slide">
                                        <div id="new-arrival-{{ banner.pk }}"
                                             class="carousel-item p-13 items-center gap-9">
                                            <div class="w-fit">
                                                <span class="flex items-center text-[var(--clr-secondary-600)] gap-2 font-semibold text-sm">
                                                    <div class="divider bg-[var(--clr-secondary-600)] w-[10%]"
                                                         style="height: 2px;"></div>
                                                    {{ banner.short_title }}
                                                </span>

                                                <h1 class="font-semibold text-5xl text-[var(--clr-gray-900)] mb-4">{{ banner.title }}</h1>

                                                <p class="text-[var(--clr-gray-700)] mb-6">
                                                    {{ banner.headline }}
                                                </p>

                                                <a href="{% url 'pages:shop' %}?category={{ banner.product.category.slug }}"
                                                   class="btn btn-primary">SHOP NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="quick-view-container"></div>
    </section>

    <section class="section-blogs py-18 bg-[var(--clr-gray-50)]">
        <div class="container mx-auto">
            <h2 class="text-[var(--clr-gray-900)] text-center font-semibold text-2xl mb-10">Latest Blogs</h2>

            <div class="grid grid-cols-3 gap-6">
                {% for blog in blogs %}
                    {% include 'partials/blog/blog_card.html' with blog=blog %}
                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'partials/banner/newsletter.html' %}

    {% if notices  %}
        {% include "partials/notice_modal.html" with notices=notices %}
    {% endif %}
{% endblock %}
