:root {
    /* Colors */
    --clr-gray-00: #FFFFFF;
    --clr-gray-50: #F2F4F5;
    --clr-gray-100: #E4E7E9;
    --clr-gray-200: #C9CFD2;
    --clr-gray-300: #ADB7BC;
    --clr-gray-400: #929FA5;
    --clr-gray-500: #77878F;
    --clr-gray-600: #5F6C72;
    --clr-gray-700: #475156;
    --clr-gray-800: #303639;
    --clr-gray-900: #191C1F;

    --clr-primary-50: #FFF3EB;
    --clr-primary-100: #FFE7D6;
    --clr-primary-200: #FFCEAD;
    --clr-primary-300: #FFB685;
    --clr-primary-400: #FF9D5C;
    --clr-primary-500: #FA8232;
    --clr-primary-600: #DE732D;
    --clr-primary-700: #99501F;
    --clr-primary-800: #663514;
    --clr-primary-900: #331B0A;

    --clr-secondary-50: #EAF6FE;
    --clr-secondary-100: #D5EDFD;
    --clr-secondary-200: #ABDBFA;
    --clr-secondary-300: #81C9F8;
    --clr-secondary-400: #57B7F5;
    --clr-secondary-500: #2DA5F3;
    --clr-secondary-600: #2484C2;
    --clr-secondary-650: #2E3191;
    --clr-secondary-700: #1B6392;
    --clr-secondary-800: #124261;
    --clr-secondary-900: #092131;


    --clr-success-50: #EAF7E9;
    --clr-success-100: #D5F0D3;
    --clr-success-200: #ABE0A7;
    --clr-success-300: #81D17C;
    --clr-success-400: #57C150;
    --clr-success-500: #2DB224;
    --clr-success-600: #248E1D;
    --clr-success-700: #1B6B16;
    --clr-success-800: #12470E;
    --clr-success-900: #092407;

    --clr-warning-50: #FDFAE7;
    --clr-warning-100: #FBF4CE;
    --clr-warning-200: #F7E99E;
    --clr-warning-300: #F3DE6D;
    --clr-warning-400: #EFD33D;
    --clr-warning-500: #EBC80C;
    --clr-warning-600: #BCA00A;
    --clr-warning-700: #8D7807;
    --clr-warning-800: #5E5005;
    --clr-warning-900: #2F2802;

    --clr-danger-50: #FDEEEE;
    --clr-danger-100: #FCDEDE;
    --clr-danger-200: #F8BCBC;
    --clr-danger-300: #F59B9B;
    --clr-danger-400: #F17979;
    --clr-danger-500: #EE5858;
    --clr-danger-600: #BE4646;
    --clr-danger-700: #8F3535;
    --clr-danger-800: #5F2323;
    --clr-danger-900: #301212;

    --color-primary: var(--clr-primary-600);
    --color-primary-content: var(--clr-gray-00);

    --color-secondary: var(--clr-secondary-600);
    --color-secondary-content: var(--clr-gray-00);

    --color-accent: var(--clr-danger-600);
    --color-accent-content: var(--clr-gray-00);

    --color-neutral: var(--clr-gray-900);
    --color-neutral-content: var(--clr-gray-00);

    --color-base-100: var(--clr-gray-600);
    --color-base-200: var(--clr-gray-700);
    --color-base-300: var(--clr-gray-800);
    --base-content: var(--clr-gray-00);

    --color-info: var(--clr-secondary-600);
    --color-info-content: var(--clr-secondary-900);

    --color-success: var(--clr-success-500);
    --color-success-content: var(--clr-success-800);

    --color-warning: var(--clr-warning-600);
    --color-warning-content: var(--clr-primary-800);

    --color-error: var(--clr-danger-400);
    --color-error-content: var(--clr-danger-800);

    --lg-danger: linear-gradient(to right, var(--clr-danger-500), var(--clr-danger-600), var(--clr-danger-700)) 1;
}

html {
    background: white;
}

.menu {
    --menu-active-bg: var(--clr-gray-50);
}

.container,
section {
    max-width: 1320px;
}

.divider {
    height: 1px;
}

.sub-menu summary::after {
    rotate: 135deg;
}

.tab {
    --tab-bg: var(--clr-gray-00);
}

.sub-menu .tabs a {
    width: 100%;
    color: var(--clr-gray-600);
    justify-content: flex-start;
}

.tab-active {
    background-color: var(--clr-gray-50);
    color: var(--clr-gray-900);
}

.popover-login {
    anchor-name: --popover-login;
}

#popover-login {
    margin-block-start: 12px;
    inset: auto;
    position-anchor: --popover-login;
    position-try-fallbacks: --menu-card-overflow;
    top: anchor(bottom);
    right: anchor(right);

    opacity: 0;

    transition: display 0.5s, opacity 0.5s;
    transition-behavior: allow-discrete;
}

#popover-cart:popover-open,
#popover-login:popover-open {
    display: block;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

#popover-login .divider {
    --divider-color: var(--clr-gray-100);
}

.no-icon::after {
    content: unset;
}

.popover-cart {
    anchor-name: --popover-cart;
}

#popover-cart {
    margin-block-start: 12px;
    inset: auto;
    position-anchor: --popover-cart;
    position-try-fallbacks: --menu-card-overflow;
    top: anchor(bottom);
    right: anchor(right);

    opacity: 0;

    transition: display 0.5s, opacity 0.5s;
    transition-behavior: allow-discrete;
}

@position-try --menu-card-overflow {
    inset: auto;
    top: anchor(bottom);
    right: anchor(left);
}

.carousel-indicator {
    height: 10px;
    width: 10px;
    background-color: var(--clr-gray-300);
    border-radius: 50%;
}

.carousel-indicator-active {
    background-color: var(--clr-gray-900);
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-500);
    width: 48px;
    height: 48px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}

.swiper-button-prev {
    background-image: url("/static/images/icons/ArrowLeft.svg");
}

.swiper-button-next {
    background-image: url("/static/images/icons/ArrowRight.svg");
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: none;
}

.section-login .tab,
.section-featured .tab {
    color: inherit;
}

.section-login .tab-active,
.section-featured .tab-active {
    background-color: transparent;
    padding: 0;
    color: var(--clr-primary-900);
}

.section-login .tab-active::before,
.section-featured .tab-active::before {
    width: 100%;
    left: 0;
    border-color: var(--clr-primary-500);
}

.section-with-breadcrumb,
.section-blogs,
.section-newsletter {
    max-width: unset;
}

.alert-secondary {

}

.swiper-banner .swiper-pagination {
    width: fit-content;
    left: 56px;
    bottom: 56px;
}

.swiper-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--clr-gray-900);
}

/* Slider base track */
.noUi-base {
    height: 2px !important;
    border-radius: 1px !important;
    background: var(--clr-gray-00);
}

.noUi-connect {
    height: 2px !important;
    border-radius: 1px !important;
    background: var(--clr-primary-500);
}

/* Handles (thumbs) */
.noUi-handle {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    background-color: var(--clr-gray-100);
    border: 1px solid var(--clr-primary-500);
    cursor: grab;
    transition: box-shadow 0.2s ease;
    right: 0 !important;
}

.noUi-handle::before,
.noUi-handle::after {
    all: unset;
}

.noUi-handle:active {
    cursor: grabbing;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.noUi-horizontal {
    height: inherit;
}

.alert {
    border-radius: 0;
}

.user-menu ul {
    padding: 0;
}

.user-menu .menu li {
    border-radius: 0;
}

.user-menu .menu li a {
    color: var(--clr-gray-900);
    padding: 0.5rem;
}

.user-menu .menu li a:hover,
.user-menu .menu li:hover {
    background-color: var(--clr-secondary-700);
    color: var(--clr-gray-00);
    transition: background-color 500ms;
}

@keyframes progressShrink {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.alert.fade-out {
    animation: fadeOut 0.3s ease-out 5s forwards;
}

.alert.fade-out .progress-bar {
    animation: progressShrink 5s linear forwards;
}

.product-main-swiper .swiper-slide {
    display: flex;
}

.swiper-slide-thumb-active img {
    border-color: var(--clr-primary-500) !important;
}

.thumb-container .swiper-button-next {
    right: 0;
    transform: translateX(42%);
}

.main-category-swiper-wrapper .swiper-button-prev,
.thumb-container .swiper-button-prev {
    left: 0;
    transform: translateX(-42%);
}

.main-category-swiper-wrapper .swiper-button-next {
    right: 0;
    transform: translateX(20%);
}

.cart-icon::after {
    content: url("/static/images/icons/Cart.svg");
}

.no-spinner {
    -moz-appearance: textfield;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tab-btn.active {
    color: var(--clr-gray-900);
    position: relative;
}

.tab-btn.active::after {
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    background: var(--clr-primary-500);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
}

.tab-panel table th {
    color: var(--clr-gray-900);
}

#reviews .list-row {
    color: var(--clr-gray-700);
}

button.htmx-request {
    pointer-events: none;
    position: relative;
    color: transparent !important;
    border: none;
}

button.htmx-request::after {
    all: unset;
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    border: 2px solid var(--clr-primary-500);
    border-top-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.read-more-icon::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--clr-primary-500);
    -webkit-mask: url('/static/images/icons/ArrowLeft.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('/static/images/icons/ArrowLeft.svg') no-repeat center;
    mask-size: contain;
    transform: rotate(270deg);
}

.read-more-icon:hover::after {
    background-color: var(--clr-gray-00);
    width: 16px;
    height: 16px;
    -webkit-mask: url('/static/images/icons/ArrowLeft.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('/static/images/icons/ArrowLeft.svg') no-repeat center;
}

.btn-primary:is(:disabled, [disabled], .btn-disabled):not(.btn-link, .btn-ghost) {
    background-color: var(--clr-gray-500);
    opacity: 80%;
    pointer-events: none;
}

.product-detail-modal[open] {
    background-color: oklch(0% 0 0/ 0.9);
}

.icon-before::before {
    content: "";
    height: 24px;
    width: 24px;
    background-color: var(--clr-secondary-500);
    -webkit-mask: url('/static/images/icons/ArrowLeft.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('/static/images/icons/ArrowLeft.svg') no-repeat center;
}

.payment-divider {
    height: 100%;
    width: 2px;
    background-color: var(--clr-gray-100);
}

.before-stack-icon::before {
    content: url("/static/images/icons/Stack.svg");
    width: 20px;
    height: 20px;
}

.before-stack-icon:hover::before {
    content: "";
    background-color: var(--clr-gray-00);
    -webkit-mask: url('/static/images/icons/Stack.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('/static/images/icons/Stack.svg') no-repeat center;
}

.payment-failed {
    background-color: var(--clr-danger-500);
    -webkit-mask: url('/static/images/icons/CheckCircle.svg') no-repeat center;
    -webkit-mask-size: contain;
    width: 88px;
    height: 88px;
    mask: url('/static/images/icons/CheckCircle.svg') no-repeat center;
}

.dash-nav-link:hover,
.active-nav {
    background-color: var(--clr-primary-500);
    color: var(--clr-gray-00);
}

.dash-nav-link:hover .nav-icon::after,
.active-nav .nav-icon::after {
    content: "";
    background-color: var(--clr-gray-00);
    --webkit-mask-image: var(--nav-img-url);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: var(--nav-img-url);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.nav-icon::after {
    display: flex;
    width: 20px;
    height: 20px;
    content: "";
    background-color: var(--clr-gray-600);
    background-color: var(--img-clr);
    -webkit-mask-image: var(--nav-img-url);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: var(--nav-img-url);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.active-nav .nav-icon::after {
    content: "";
    background-color: var(--clr-gray-00);
    -webkit-mask-image: var(--nav-img-url);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: var(--nav-img-url);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.btn.nav-icon::after {
    content: "";
    background-color: var(--clr-primary-500) !important;
}

.section-newsletter {
    background: url("/static/images/islington.jpg") center;
    backdrop-filter: blur(5px);
}