{% load static %}

<div class="card rounded-1 border border-[var(--clr-gray-100)] bg-[var(--clr-gray-00)] shadow-[0px_8px_24px_rgba(0,_0,_0,_0.04)] p-8">
    <figure class="w-full rounded-[3px]">
        {% if blog.image %}
            <img
                src="{{ blog.image.url }}"
                alt="Shoes"/>
        	{% else %}
            <img
                src="{% static 'images/blog/blog_1.png' %}"
                alt="Shoes"/>
        {% endif %}

    </figure>
    <div class="card-body p-0 py-6">
        <div class="flex justify-start w-fit gap-4">
            <p class="flex gap-1.5 items-center text-[var(--clr-gray-700)] text-sm w-fit">
                <img src="{% static 'images/icons/UserCircle.svg' %}" alt="" />
                Medinee
            </p>

            <p class="flex gap-1.5 items-center text-[var(--clr-gray-700)] text-sm">
                <img src="{% static 'images/icons/CalendarBlank.png' %}" alt="" />
                {{ blog.created_at }}
            </p>

            <p class="flex gap-1.5 items-center text-[var(--clr-gray-700)] text-sm">
                <img src="{% static 'images/icons/ChatCircleDots.svg' %}" alt="" />
                453
            </p>

        </div>
        <h2 class="card-title text-[var(--clr-gray-900)] font-medium">
            {{ blog.description|truncatechars:50 }}
        </h2>
    </div>

    <div>
        <a class="btn btn-outline btn-primary">READ MORE</a>
    </div>
</div>