{% load static %}

<div class="rounded-1 h-full w-[312px] bg-[var(--clr-warning-300)] flex flex-col justify-between">
    <div class="px-4.5 pt-8">
        <div class="mb-8">
            <div class="mb-4">
                <p class="text-sm text-[var(--clr-danger-600)] text-center">COMPUTER & ACCESSORIES</p>
                <h2 class="text-[var(--clr-gray-900)] font-semibold text-[2rem] text-center">32% Discount</h2>
                <p class="text-[var(--clr-gray-700)] text-center">For all electronics products</p>
            </div>

            <p class="flex gap-2 items-center justify-center text-[var(--clr-gray-900)] text-sm">Offers ends in: <span
                    class="badge text-[var(--clr-gray-900)] rounded-none bg-[var(--clr-gray-00)] font-semibold border-none items-center py-1.5 px-3">ENDS OF CHRISTMAS</span>
            </p>
        </div>

        <div class="flex justify-center mb-4">
            <a class="btn btn-primary">SHOP NOW</a>
        </div>
    </div>

    <div>
        <img src="{% static 'images/banner/banner_image_4.png' %}" alt=""/>
    </div>
</div>