<section class="section-newsletter bg-[var(--clr-secondary-700)] py-18">

    <div class="container mx-auto text-center relative z-10">
        <h2 class="text-[var(--clr-gray-00)] font-semibold text-[2rem]">Subscribe to our newsletter</h2>

        <p class="w-[50%] mx-auto mb-8">Praesent fringilla erat a lacinia egestas. Donec vehicula tempor libero et
            cursus. Donec non quam urna. Quisque vitae porta ipsum.</p>

        <form>
            <div class="join p-3 bg-[var(--clr-gray-00)] rounded-xs">
                <div>
                    <label class="w-[624px] input validator join-item bg-[var(--clr-gray-00)] pr-0 focus-within:outline-[var(--clr-gray-00)]">
                        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g
                                    stroke-linejoin="round"
                                    stroke-linecap="round"
                                    stroke-width="2.5"
                                    fill="none"
                                    stroke="var(--clr-gray-900)"
                            >
                                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                            </g>
                        </svg>
                        <input class="rounded-1 text-[var(--clr-gray-900)]" type="email" placeholder="mail@site.com" required/>
                    </label>
                    <div class="validator-hint hidden">Enter valid email address</div>
                </div>
                <button class="btn btn-primary join-item">Subscribe</button>
            </div>
        </form>
    </div>
</section>