{% extends "dashboard_base.html" %}
{% load currency %}
{% load static %}

{% block title %}Islington Ecommerce - Products{% endblock %}

{% block dashboard_content %}
    <div class="flex items-center justify-between mb-5">
        <div class="flex items-center gap-4">
            {% if seller.seller_shop_logo %}
                <img src="{{ seller.shop_logo.url }}" alt="Shop Logo" class="w-16 h-16 rounded-full border">
            {% else %}
                <img src="{% static 'images/Store Temp.avif' %}" alt="Shop Logo" class="w-16 h-16 rounded-full border">
            {% endif %}
            <div>
                <h1 class="text-2xl font-bold text-[var(--clr-gray-900)]">{{ seller.full_name }}'s Shop</h1>
            </div>
        </div>

        <div class="flex gap-4">
            <button class="btn btn-primary"
                    hx-get="{% url 'products:create' %}"
                    hx-target="#modal-container"
                    hx-trigger="click">
                + Add Product
            </button>
        </div>
    </div>

    <div class="stats flex gap-6 justify-between mb-5">
        <div class="stat bg-[var(--clr-secondary-50)] rounded-sm grid-cols-4">
            <div class="stat-value col-start-2 text-[var(--clr-secondary-500)] font-semibold text-2xl">
                {{ total_products }}
            </div>
            <div class="stat-title col-start-2 text-[var(--clr-gray-700)] text-sm">Total Products
            </div>
            <div class="stat-figure text-secondary col-start-1 justify-self-start">
                <div class="avatar">
                    <div class="w-14 rounded-xs bg-[var(--clr-gray-00)]">
                        <img src="{% static 'images/icons/Rocket.svg' %}"
                             class="w-8 aspect-square p-3" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="stat bg-[var(--clr-primary-50)] rounded-sm grid-cols-4">
            <div class="stat-value col-start-2 text-[var(--clr-primary-500)] font-semibold text-2xl">
                {{ total_products_sold }}
            </div>
            <div class="stat-title col-start-2 text-[var(--clr-gray-700)] text-sm">Total Sales
            </div>
            <div class="stat-figure text-secondary col-start-1 justify-self-start">
                <div class="avatar">
                    <div class="w-14 rounded-xs bg-[var(--clr-gray-00)]">
                        <img src="{% static 'images/icons/Receipt.svg' %}"
                             class="w-8 aspect-square p-3" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="stat bg-[var(--clr-success-50)] rounded-sm grid-cols-4">
            <div class="stat-value col-start-2 text-[var(--clr-success-500)] font-semibold text-2xl">
                {{ total_shipping_completed }}
            </div>
            <div class="stat-title col-start-2 text-[var(--clr-gray-700)] text-sm">Total Shipping Completed
            </div>
            <div class="stat-figure text-secondary col-start-1 justify-self-start">
                <div class="avatar">
                    <div class="w-14 rounded-xs bg-[var(--clr-gray-00)]">
                        <img src="{% static 'images/icons/Package.svg' %}"
                             class="w-8 aspect-square p-3" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse collapse-arrow">
        <input type="radio" name="user-shop-accordion" id="products" value="products"/>
        <h2 class="collapse-title text-xl font-semibold mb-4 text-[var(--clr-gray-900)]">Your Products</h2>
        <div class="collapse-content grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for product in products %}
                <div class="relative card bg-base-100 shadow">
                    {% if not product.is_verified %}
                        <div class="absolute top-2 left-0 w-full text-[var(--clr-gray-00)] bg-[var(--clr-danger-500)] text-base font-bold px-2 py-1 shadow">
                            Not Approved
                        </div>
                    {% endif %}

                    <figure class="h-48 overflow-hidden">
                        {% if product.thumbnail %}
                            <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}"
                                 class="object-cover w-full h-full">
                        {% else %}
                            <img src="{% static 'images/products/prodcut_1.png' %}" alt="{{ product.name }}"
                                 class="object-cover w-full h-full">
                        {% endif %}
                    </figure>
                    <div class="card-body p-4">
                        <h3 class="font-semibold text-lg">{{ product.name }}</h3>
                        <p class="text-[var(--clr-gray-00)]">{{ product.price|nepali_currency }}</p>
                        <p class="text-[var(--clr-gray-00)] text-sm">Stock: {{ product.stock }}</p>

                        {% if product.is_verified %}
                            <div class="card-actions mt-2 justify-between">
                                <button class="btn btn-sm btn-outline"
                                        hx-get="{% url 'products:create' %}?action=edit&pk={{ product.pk }}"
                                        hx-target="#modal-container">
                                    Edit
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p class="text-gray-500 col-span-full text-center">You haven’t added any products yet.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Sales Snapshot -->
    <div class="mt-5 collapse collapse-arrow">
        <input type="radio" name="user-shop-accordion" id="recent-orders" value="recent-orders"/>
        <h2 class="collapse-title text-xl font-semibold mb-4 text-[var(--clr-gray-900)]">Recent Orders</h2>
        <table class="collapse-content table w-full border text-[var(--clr-gray-900)] border-[var(--clr-gray-100)] rounded-sm">
            <thead>
            <tr class="text-[var(--clr-gray-900)]">
                <th>Order ID</th>
                <th>Customer</th>
                <th>Total</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.uuid }}</td>
                    <td>
                        {{ order.customer.full_name }}
                    </td>
                    <td>{{ order.total_amount|nepali_currency }}</td>
                    <td>{{ order.created|date:"M d, Y" }}</td>
                    <td>
                        <form method="POST" action="?order={{ order.uuid }}">
                            {% csrf_token %}

                            {{ order.order_status_form.status }}

                            {% if order.order_status_form.status.errors %}
                                <p class="text-[var(--clr-danger-500)] text-sm">
                                    {{ order.order_status_form.status.errors.0 }}
                                </p>
                            {% endif %}
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center text-gray-500">No recent orders</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="modal-container"></div>
{% endblock %}

{% block extra_js %}
    <script>
        const radios = document.querySelectorAll('input[name="user-shop-accordion"]');

        const saved = localStorage.getItem('selected-shop');
        if (saved) {
            const radio = document.querySelector(`input[name="user-shop-accordion"][value="${saved}"]`);
            if (radio) radio.checked = true;
        } else {
            radios[0].checked = true;
        }

        radios.forEach(radio => {
            radio.addEventListener('change', () => {
                if (radio.checked) {
                    localStorage.setItem('selected-shop', radio.value);
                    console.log(radio);
                }
            });
        });

        let currentStep = 1;
        const totalSteps = 4;

        function showStep(step) {
            document.querySelectorAll(".step-content").forEach((el, i) => {
                el.classList.toggle("hidden", i + 1 !== step);
            });
            document.querySelectorAll(".steps .step").forEach((el, i) => {
                el.classList.toggle("step-primary", i + 1 <= step);
            });

            document.getElementById("prevBtn").style.display = step === 1 ? "none" : "inline-flex";
            document.getElementById("nextBtn").style.display = step === totalSteps ? "none" : "inline-flex";
            document.getElementById("submitBtn").classList.toggle("hidden", step !== totalSteps);
        }

        function closeModal(el) {
            el.closest(".modal").classList.remove("modal-open");
            if (currentStep) {
                currentStep = 1;
            }
        }
    </script>
{% endblock %}