<ul class="list rounded-box gap-2">
    {% for review in reviews_so_far %}
        <li class="list-row shadow-md">
            <div>
                <div class="avatar avatar-placeholder">
                    <div class="bg-neutral text-neutral-content w-12 rounded-full">
                        <span class="text-xl">{{ review.review_from.first_name|slice:":1" }}</span>
                    </div>
                </div>
            </div>
            <div>
                {% include 'partials/products/ratings.html' with rating=review.rating %}
                <div>{{ review.review_from.get_full_name }}</div>
                <div class="text-xs uppercase font-semibold opacity-60">
                    {{ review.feedback }}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

{% if page.has_next %}
    <div class="text-center mt-4">
        <button
                hx-get="{% url 'products:detail' product.slug %}?page={{ page.next_page_number }}"
                hx-target="#reviews"
                hx-swap="innerHTML"
                hx-indicator="this"
                hx-vals='{"load_more": true}'
                class="btn btn-outline btn-primary read-more-icon rounded-full w-8.5 h-8.5"
        >
        </button>
    </div>
{% endif %}